<div class="container">
    <h1 class="mt-5 text-primary">Chi tiết sản phẩm</h1>
    <button class="btn btn-primary mt-3" onclick="window.location.href='/';">Quay lại danh sách</button>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{productName}}</td>
                <td>{{price}}</td>
            </tr>
        </tbody>
    </table>
</div>